
/* font-family: 'Montserrat', sans-serif;
font-family: 'Work Sans', sans-serif; */
a {
    text-decoration: none;
}
/* Header */
.first {
    background-color: #fff9f3;
    /* min-height: 100vh; */
    position: relative;
    width: 100%;
    /* background-image: url('assets/img/Layer.png'); */
    
}
.first::after {
    display: block;
    content: url('assets/img/Layer.png');
    position: absolute;
    width: 100%;
    overflow: hidden;
    top: 100%;
    left: 0;
}
.header-nav {
   display: flex;
   align-items: center;
   height: 15vh;
}
.header-nav__logo {
    width: 80px;
}
.navbar {
    display: flex;
    margin-left: auto;
}
.navbar__item {
    margin-right: 40px;
}
.navbar__item:last-child {
    margin-right: 0;
}
.navbar__link {
   color: #5a6e79;
   font: 400 16px 'Work Sans';
}
.navbar__link__active {
   color: #ffc178;
}
.navbar__button {
  padding: 0.6em 1.1em;
  background-color: #fff;
  color: #ffc178;
  border-radius: 25px;
  font: 400 16px 'Work Sans';
  box-shadow: 0px 0px 3px rgba(0,0,0, 0.1);
}
.content-block {
    width: 520px;
}
.content-block__title {
    font: 700 40px/56px 'Montserrat';
    color: #ffc178;
    margin-bottom: 1vh;
}
.content-block__text {
    font: 400 18px/26px 'Work Sans';
    color: #5a6e79;
}
.content-block__button {
    padding: 0.9em 1.3em;
    border-radius: 25px;
    border: none;
    font: 400 18px 'Work Sans';
    color: #fff;
    background-color: #ffc178;
    outline: none;
    cursor: pointer;
    margin-top: 30px;
}
.content {
  height: 85vh;
  display: flex;
  align-items: center;
  background-image: url('assets/img/content.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}


/* Departament */
.two {
    margin-top: 150px;
    margin-bottom: 150px;
    position: relative;
    z-index: 1;
}
.two::after {
    content: url('assets/img/bgbottom.svg');
    display: block;
    position: absolute;
    right: -15%;
     top: 58%;
     overflow: hidden;
    z-index: -1;
}
.two::before {
    content: url('assets/img/shape.svg');
    display: block;
    position: absolute;
    left: -20%;
    top: 20%;
    overflow: hidden;
    z-index: -1;
}
.departament {
  margin-bottom: 90px;
}
.departament__title {
    color: #252c3a;
    font: 700 40px 'Work Sans';
    text-align: center;
}
.departament__text {
    max-width: 575px;
    color: #5a6e79;
    font: 400 16px/24px 'Work Sans';
    margin: 0 auto;
    text-align: center;
    margin-top: 1vh;
}
.departament-card {
    display: flex;
    column-gap: 30px;
    margin-top: 68px;
}
.departament-card-item {
    width: calc(100% / 3);
    border-radius: 5px;
    
}
.departament-card-item:first-child {
    background-color: #f9703a;
}
.departament-card-item:nth-child(2) {
    background-color: #80be41;
}
.departament-card-item:nth-child(3) {
    background-color: #ffb258;
    
}
.departament-item__img {
    display: block;
    width: 277px;
    margin: 40px auto;
    height: 277px;
}

.departament-item__title {
    font: 700 30px/28px 'Work Sans';
    color: #fff;
    text-align: center;
    padding-bottom: 77px;
}

/* ///Learning */
.learning {
  
  display: flex;
  margin-bottom: 90px;
 
}
.learning-circle {
  width: 400px;
  border-radius: 50%;
}
.learning-circle iframe {
    border-radius: 50%;
    width: 100%;
    height: 400px;
    border: 50px solid #fff;
    border: 20px solid #fdf6ee;
    border-style: double;
    position: relative;
}

.learning-content {
    width: 50%;
    margin-left: 50px;
}
.learning-content__title {
    font: 700 40px/56px 'Montserrat';
    margin-bottom: 3vh;
}
.learning-content__text {
    font: 400 18px/26px 'Work Sans';
    margin-bottom: 40px;
    color: #5a6e79;
}
.learning-people {
    display: flex;
    justify-content: space-between;
}
.learning-people-item:first-child {
    color: #ffba00;
}
.learning-people-item:nth-child(2){
    color: #ff5f72;
}
.learning-people-item:last-child {
    color: #43cb83;
    padding-right: 30px;
}
.learning-people-item span{
    display: block;
}
.people-item__title {
 font: 700 40px 'Montserrat';
}
.people-item__text {
    font: 400 20px 'Montserrat';
}


/* ///uneversity */

.uneversity__title {
    font: 700 40px/50px 'Montserrat';
    text-align: center;
    color: #252c3a;
    margin-bottom: 10vh;
}
.uneversity-card {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}
.uneversity-card-item {
    width: 23%;
    box-shadow: 0px 0px 3px rgba(0,0,0, 0.3);
    border-radius: 7px;
}
.uneversity-content {
    padding: 20px 15px;
    background-color: #fff;
}
.uneversity-card-item img {
    width: 100%;
}
.uneversity-content__text {
    font: 500 16px/20px 'Work Sans';
    color: #252c3a;
    margin-bottom: 5px;
}
.uneversity-content__domain {
    font: 700 12px/26px 'Montserrat';
    color: #5a6e79;
    
}
.uneversity-content__link {
    font: 700 14px/17px 'Work Sans'; 
    color: #5a6e79;
    display: block;
    margin-top: 4vh;
}

.footer {
    background-color: #252c3a;
    position: relative;
    z-index: 1;
    padding-top: 50px;

}
.footer-content {
    display: flex;
    column-gap: 25px;
}
.footer-card {
    width: calc(100% / 4);
}
.footer-card-text {
    font: 500 14px/22px 'Work Sans';
    color: #969595;
    margin: 2vh 0;
}
.footer-card__line {
    width: 100%;
    display: block;
    background-color: #303744;
    height: 1px;
    color: #969595;
}

.footer__socials {
    display: flex;
    margin-top: 27px;
}
.socials__item {
    margin-right: 25px;
}
.socials__link {
    color: #4a4a4a;
}
.socials__link:hover {
    color: #0089fd;
}
.socials__link i {
    font-size: 18px;
}
.footer-title {
  text-transform: uppercase;
  color: #fff;
  font: 500 14px 'Work Sans';
}
.footer__menu {
    margin-top: 40px;
}
.footer__menu__item {
    margin-bottom: 25px;
}
.footer__menu__link {
    font: 500 14px/22px 'Work Sans';
    color:  #969595;
}
.footer__menu__time {
    font: 500 12px/20px 'Work Sans';
    color:  #6b6b6b;
}
.form-contact {
  display: flex;
  height: 40px;
}
.form-contact__input {
    padding-left: 1em;
    font: 12px 'Work Sans';
    outline: none;
    border: none;
    width: 65%;
}
.form-contact__button {
    border: none;
    outline: none;
    background-color: #ffc178;
    color: #fff;
    font: 700 12px 'Montserrat';
    width: 35%;
    text-transform: uppercase;
    
}
.footer__bottom {
    background-color: #1d232e;
    margin-top: 50px;
    padding: 1.4em 0;
}
.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__bottom__menu {
    display: flex;
}
.copyright__text {
    font: 13px 'Work Sans';
    color: #6b6b6b;
}
.bottom__menu__item {
    margin-right: 20px;
}
.bottom__menu__item:last-child {
    margin-right: 0;
}
.bottom__menu__link {
    font: 13px 'Work Sans';
    color: #6b6b6b; 
}